/* BIG WEB120 */

* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

html,
body {
    background-color: darkgray;
    /* font-family: 'Exo 2', sans-serif; */
    font-family: 'Monda', sans-serif;
    /* font-family: 'Titillium Web', sans-serif; */
}

main.wrapper,
footer {
    width: 90%;
    margin: auto;
    overflow: auto;
    background-color: darkslategrey;
}

section {
    padding-left: 2.5%;
    width: 90%;
    margin: 0 auto;
}

header {
    margin: auto;
    background: black;
    text-align: center;
    min-height: 50px;
    padding: 5%;
}

header h1 {
    text-align: center;
    display: block;
    line-height: 100px;
}

h1>a {
    text-decoration: none;
    color: green;
}

img.logo {
    /* margin-left: 1%; */
    margin: 2em;
    width: 25%;
    max-width: 100%;
    border-radius: 50%;
    float: left;
    display: block;
    object-fit: contain;
    /* vertical-align: middle; */
}

h1,
h2,
h3,
h5,
h6 {
    font-weight: normal;
    padding: .5em;
}

h3 {
    font-weight: 600;
    padding: .5em;
}

h4 {
    font-weight: 600;
    padding: .5em 0em 0em .5em;
}

p {
    margin: 1em .8em;
}

footer {
    text-align: center;
    text-transform: uppercase;
    clear: both;
}

footer p {
    padding: 2em;
}

footer a {
    color: mediumblue;
    text-decoration: none;
}

footer a:hover {
    color: white;
    background-color: mediumblue;
}


/* breakpoint for moving aside beneath section */

@media all and (max-width:1000px) {
    main.wrapper,
    footer {
        width: 100%;
    }
    section {
        width: 90%;
        display: block;
        float: none;
        margin: 0 auto;
    }
}


/* Phat PHONE Rules! */

@media all and (max-width:860px) {
    div.wrapper {
        background-color: blue;
    }
    section,
    aside {
        width: 95%;
    }
}